.container {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
  }
  .content {
    padding-top: 50px;
    padding-left: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .logoDescription {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    padding-bottom: 40px;
  }
  .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    color: #1E1E1E;
    margin: 0;
    padding-bottom: 8px;
  }
  .description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    padding-bottom: 59px;
  }
  .button {
    background-color: #FF5277;
    border-width: 0;
    border-radius: 8px;
    color: #ffffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding: 12px 26.5px;
  }
  